body {
  margin: 0;
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: #303342;
}

a:-webkit-any-link {
  color: white;
  cursor: pointer;
  text-decoration: none !important;
}

a{
  text-decoration: none !important;
}